body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(124, 111, 243);
    text-align: center;
    margin: 0;
    padding: 0;
}

header{
    background-color: rgb(173, 131, 240);
    padding-top: 15px;
    color: rgb(0, 0, 0); 
    padding: 20px 10px;
}

header h1{
    margin: 0;
}

header p{
    margin: 5px 0 0 0;
}

#type{
    background-color: rgb(232, 126, 241);
    padding: 10px 0;
}

#type a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
}

main{
    margin: auto;
    padding: 20px;
    max-width: 1000px;
}

main h2{
    color: rgb(0, 0, 0);
}

#menu{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    padding: 10px;
}

#menu article{
    border: 1px solid gray;
    border-radius: 8px;
    background-color: white;
    box-shadow: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;   
}

#menu article img{
    margin: 15px;
    border: 1px solid black;
    border-radius: 8px;
    
}

#menu article h3{
    color: rgb(127, 83, 0);
}

#menu article p strong{
    color: rgb(101, 193, 255);
}

footer p{
    color: rgb(0, 0, 0);
    background-color: rgb(123, 246, 255);
    margin: 0;
    padding-top: 15px;
}