body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(224, 170, 245);
}

#home{
    background-color: rgb(189, 149, 223);
    margin-left: -10px;
    margin-right:-10px;
    height: 100px;
}

.profile_name{
    background-color: rgb(224, 178, 245);
    width: 300px;
    margin-left: 20px;
    float: left;
    font-size: 30px;
    font-weight: bold;
    border-radius: 10px;
    padding-left: 20px;
    color: rgb(132, 0, 255);
}
.contact_info {
    font-size: 15px;
    font-style: italic;
    display: flex;
    align-items: center;
    flex-direction: row;
}
.contact_info img{
    width: 25px;
    margin-right: 15px;
}
.topdiv{
    float: right;
    padding-left: 20px;
}
.topmenu{
    color: blueviolet;
    margin: 10px;
    font-size: 20px;
}
.profile_image{
    width: 500px;
}
#about-me{
    display: flex;
}
#about-me h1{
    font-size: 65px;
    color: blueviolet;
}
#about-me p{
    color: darkmagenta;
    font-size: 20px;
    padding-right: 20px;
    text-align: justify;
}
h2{
    font-size: 40px;
    color: darkmagenta;
    margin-left: 20px;
}
.allskills{
    display: flex;
}
.skill{
    border: 1px solid lightcyan;
    margin: 20px;
    padding: 10px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 2px 5px black;
}
.skill img{
    height: 200px;
}
#projects-container{
    margin-left: 50px;
}
#projects-container hr{
    width: 75%;
    border: 1px solid black;
}
.projects-card li{
    color: darkmagenta;
}
#all_recommendations{
    display: flex;
}
.rec{
    margin: 20px;
    border: 1px solid black;
    padding: 10px;
    border-radius: 8px;
    font-style: italic;
    flex: 1px;
}
.rec span{
    color: darkviolet;
    font-size: 30px;
}